In [2]:
import pandas as pd
import numpy as np
import openpyxl

In [4]:
df_old = pd.read_csv("final_company_mapping_unlimited.csv")
df_old

,profile_name,organisation,duration,start_recency_months,end_recency_months,job_level,company_change,cum_no_of_companies,level_up,lateral_movements,apparel_industry,company_size,company_age_years,headquaters
0,zeenath-ahamed-3678a4b8,mas holdings,32,21,0,6.0,0,1,1.0,0,1,4.0,36.0,1
1,zeenath-ahamed-3678a4b8,mas holdings,34,54,21,5.0,0,1,0.0,1,1,4.0,36.0,1
2,zeenath-ahamed-3678a4b8,mas holdings,18,73,55,5.0,0,1,0.0,1,1,4.0,36.0,1
3,zeenath-ahamed-3678a4b8,mas holdings,79,153,74,5.0,0,1,1.0,0,1,4.0,36.0,1
4,zeenath-ahamed-3678a4b8,mas holdings,55,214,159,4.0,-1,1,-1.0,-1,1,4.0,36.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1490,aaliya-mohamed-57aa79128,mas holdings,27,21,0,4.0,0,3,0.0,1,1,4.0,36.0,1
1491,aaliya-mohamed-57aa79128,mas holdings,43,64,22,4.0,1,3,1.0,0,1,4.0,36.0,1
1492,aaliya-mohamed-57aa79128,the rib,20,78,58,3.0,1,2,-1.0,0,0,NaN,NaN,0
1493,aaliya-mohamed-57aa79128,mas holdings,46,121,76,4.0,0,1,3.0,0,1,4.0,36.0,1
1494,aaliya-mohamed-57aa79128,mas holdings,6,126,121,1.0,-1,1,-1.0,-1,1,4.0,36.0,1

In [5]:
def process_job_history(df_old):
    df_n = pd.DataFrame()
    df_encoded = pd.DataFrame()
    for profile in df_old["profile_name"].unique():
        df = df_old[df_old["profile_name"]==profile]
        df_n["profile_name"] = df["profile_name"].unique()
        df_n["number_of_jobs"] = len(df['job_level']),
        df_n["first_job_level"] = df[df['start_recency_months']==df['start_recency_months'].max()]['job_level'].max(),
        df_n["first_job_recency_months"] = df['start_recency_months'].max(),
        df_n["first_job_duration_months"] = df[df['start_recency_months']==df['start_recency_months'].max()]['duration'].max(),
        df_n["first_company_size"] = df[df['start_recency_months']==df['start_recency_months'].max()]['company_size'].max(),
        df_n["first_company_age_years"] = df[df['start_recency_months']==df['start_recency_months'].max()]['company_age_years'].max(),
        df_n["first_company_apparel"] = df[df['start_recency_months']==df['start_recency_months'].max()]['apparel_industry'].max(),
        df_n["first_company_sri_lankan"] = df[df['start_recency_months']==df['start_recency_months'].max()]['headquaters'].max(),
        df_n["last_job_level"] = df[df['start_recency_months']==df['start_recency_months'].min()]['job_level'].max(),
        df_n["last_job_recency_months"] = df['start_recency_months'].min(),
        df_n["last_job_duration_months"] = df[df['start_recency_months']==df['start_recency_months'].min()]['duration'].min(),
        df_n["last_company_size"] = df[df['start_recency_months']==df['start_recency_months'].min()]['company_size'].min(),
        df_n["last_company_age_years"] = df[df['start_recency_months']==df['start_recency_months'].min()]['company_age_years'].min(),
        df_n["last_company_apparel"] = df[df['start_recency_months']==df['start_recency_months'].min()]['apparel_industry'].min(),
        df_n["last_company_sri_lankan"] = df[df['start_recency_months']==df['start_recency_months'].min()]['headquaters'].min(),
        df_n["minimum_job_duration_months"] = df['duration'].min(),
        df_n["maximum_job_duration_months"] = df['duration'].max(),
        df_n["average_job_duration_months"] = df['duration'].mean(),
        df_n["total_job_duration_months"] = df['duration'].sum()
        df_n["number of turnovers"] = df[df['company_change']>-1]["company_change"].sum()
        df_n["number of companies"] = df['cum_no_of_companies'].max()
        df_n["number of levelups"] = len(df[df['level_up']>0]["level_up"])
        df_n["total levelups"] = df[df['level_up']>-1]["level_up"].sum()
        df_n["average years for levelup"] = ((df_n['total_job_duration_months']-df_n['last_job_duration_months'])/12)/(df_n[df_n["total levelups"]!=0]["total levelups"])
        df_n["total LUs within company"] = df[df['company_change']==0]["level_up"].sum()
        df_n["total LUs outside company"] = df[df['company_change']==1]["level_up"].sum()
        df_n["number of lateral movements"] = len(df[df['lateral_movements']>0]["lateral_movements"])
        df_n["duration ratio in sri lanka"] = (df[df['headquaters']==1]["duration"].sum())/df_n["total_job_duration_months"]
        df_n["duration ratio in apparel"] = (df[df['apparel_industry']==1]["duration"].sum())/df_n["total_job_duration_months"]
        df_encoded = pd.concat([df_encoded, df_n], ignore_index = True)

    return df_encoded

df_old = process_job_history(df_old)
df_old

,profile_name,number_of_jobs,first_job_level,first_job_recency_months,first_job_duration_months,first_company_size,first_company_age_years,first_company_apparel,first_company_sri_lankan,last_job_level,...,number of turnovers,number of companies,number of levelups,total levelups,average years for levelup,total LUs within company,total LUs outside company,number of lateral movements,duration ratio in sri lanka,duration ratio in apparel
0,zeenath-ahamed-3678a4b8,5,4.0,214,55,4.0,36.0,1,1,6.0,...,0,1,2,2.0,7.750000,2.0,0.0,2,1.000000,1.000000
1,yuwin-mestrige-9a15361a9,4,3.0,72,26,4.0,36.0,1,1,4.0,...,0,1,1,1.0,5.416667,1.0,0.0,2,1.000000,1.000000
2,yoshan-de-zoysa,6,1.0,114,8,NaN,NaN,0,0,5.0,...,2,3,3,4.0,1.645833,4.0,0.0,0,0.812500,0.812500
3,yohan-deshappriya-a816b3104,7,3.0,218,29,NaN,NaN,0,0,8.0,...,1,2,3,5.0,4.933333,5.0,0.0,2,0.907937,0.907937
4,yasith-wijewardene,7,1.0,97,13,3.0,NaN,0,1,5.0,...,4,4,4,7.0,0.892857,1.0,3.0,0,0.677419,0.698925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316,aloka-senavirathne-767029169,2,2.0,83,46,4.0,36.0,1,1,1.0,...,0,1,0,0.0,NaN,-1.0,0.0,0,1.000000,1.000000
317,aloka-lokuhetty-22221119b,3,1.0,36,6,2.0,24.0,0,1,3.0,...,2,3,1,2.0,0.791667,0.0,2.0,0,1.000000,0.595745
318,akalanka-chaminda-a214907a,2,1.0,120,43,NaN,NaN,0,0,6.0,...,1,2,1,5.0,0.716667,0.0,5.0,0,0.666667,0.666667
319,ajith-siyambalapitiya-9877ba27,2,2.0,457,265,NaN,NaN,0,0,8.0,...,1,2,1,6.0,3.680556,0.0,6.0,0,0.428879,0.428879
320,aaliya-mohamed-57aa79128,5,1.0,126,6,4.0,36.0,1,1,4.0,...,2,3,2,4.0,2.395833,3.0,0.0,1,0.859155,0.859155

In [6]:
df_scl = pd.read_csv("final_school_mapping_unlimited.csv")
df_scl

,profile_name,course_level,duration,start_recency_months,end_recency_months,school_size,school_age_years,headquaters,cum_no_of_schools
0,zeenath-ahamed-3678a4b8,4,48,276,228,NaN,NaN,0,2
1,zeenath-ahamed-3678a4b8,1,168,456,288,NaN,NaN,0,1
2,yuwin-mestrige-9a15361a9,5,12,24,12,NaN,NaN,0,3
3,yuwin-mestrige-9a15361a9,4,48,120,72,4.0,24.0,1,2
4,yuwin-mestrige-9a15361a9,1,156,288,132,NaN,NaN,0,1
...,...,...,...,...,...,...,...,...,...
1038,akalanka-chaminda-a214907a,3,36,288,252,NaN,NaN,0,1
1039,ajith-siyambalapitiya-9877ba27,5,132,600,468,NaN,NaN,0,1
1040,aaliya-mohamed-57aa79128,5,24,48,24,NaN,16.0,0,3
1041,aaliya-mohamed-57aa79128,1,24,156,132,NaN,NaN,0,2
1042,aaliya-mohamed-57aa79128,2,180,348,168,NaN,NaN,0,1

In [7]:
def encode_school(df_scl):
    df_ed = pd.DataFrame()
    df_encoded_scl = pd.DataFrame()
    for profile in df_scl["profile_name"].unique():
        df = df_scl[df_scl["profile_name"]==profile]
        df_ed["profile_name"] = df["profile_name"].unique()
        df_ed["number_of_Qualifications"] = len(df['course_level']),
        df_ed["first_qual_level"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['course_level'],
        df_ed["first_qual_recency_months"] = df[df['start_recency_months']!=24276]['start_recency_months'].max(),
        df_ed["first_qual_duration_months"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['duration'],
        df_ed["first_institute_size"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['school_size'],
        df_ed["first_institute_age_years"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['school_age_years'],
        df_ed["first_institute_sri_lankan"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['headquaters'],
        df_ed["last_qual_level"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['course_level'],
        df_ed["last_qual_recency_months"] = df['start_recency_months'].min(),
        df_ed["last_qual_duration_months"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['duration'],
        df_ed["last_institute_size"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['school_size'],
        df_ed["last_institute_age_years"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['school_age_years'],
        df_ed["last_institute_sri_lankan"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['headquaters'],
        df_ed["minimum_qual_duration_months"] = df['duration'].min(),
        df_ed["maximum_qual_duration_months"] = df['duration'].max(),
        df_ed["average_qual_duration_months"] = df['duration'].mean(),
        df_ed["total_qual_duration_months"] = df['duration'].sum()
        df_ed["number_of_institutes"] = df['cum_no_of_schools'].max()
        df_ed["duration ratio in sri lanka"] = df['course_level'].max() - df['course_level'].min()
        df_ed["duration ratio in sri lanka"] = (df[df['headquaters']==1]["duration"].sum())/df_ed["total_qual_duration_months"]
        df_encoded_scl = pd.concat([df_encoded_scl, df_ed], ignore_index = True)

    return df_encoded_scl

df_scl = encode_school(df_scl)
df_scl

,profile_name,number_of_Qualifications,first_qual_level,first_qual_recency_months,first_qual_duration_months,first_institute_size,first_institute_age_years,first_institute_sri_lankan,last_qual_level,last_qual_recency_months,last_qual_duration_months,last_institute_size,last_institute_age_years,last_institute_sri_lankan,minimum_qual_duration_months,maximum_qual_duration_months,average_qual_duration_months,total_qual_duration_months,number_of_institutes,duration ratio in sri lanka
0,zeenath-ahamed-3678a4b8,2,1,456.0,168,NaN,NaN,0,4,276,48,NaN,NaN,0,48,168,108.0,216,2,0.000000
1,yuwin-mestrige-9a15361a9,3,1,288.0,156,NaN,NaN,0,5,24,12,NaN,NaN,0,12,156,72.0,216,3,0.222222
2,yoshan-de-zoysa,5,1,276.0,156,NaN,NaN,0,5,36,12,NaN,17.0,0,0,156,45.6,228,5,0.000000
3,yohan-deshappriya-a816b3104,2,1,228.0,60,NaN,NaN,0,5,144,12,5.0,140.0,0,12,60,36.0,72,2,0.000000
4,yasith-wijewardene,4,1,276.0,0,NaN,NaN,0,5,0,0,NaN,NaN,0,0,168,51.0,204,4,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,aloka-senavirathne-767029169,3,1,156.0,60,1.0,154.0,0,1,60,48,1.0,64.0,0,12,60,40.0,120,2,0.000000
315,aloka-lokuhetty-22221119b,4,1,72.0,24,NaN,NaN,0,1,24,0,1.0,64.0,0,0,24,6.0,24,3,0.000000
316,akalanka-chaminda-a214907a,2,3,288.0,36,NaN,NaN,0,5,36,12,4.0,158.0,0,12,36,24.0,48,2,0.000000
317,ajith-siyambalapitiya-9877ba27,1,5,600.0,132,NaN,NaN,0,5,600,132,NaN,NaN,0,132,132,132.0,132,1,0.000000
318,aaliya-mohamed-57aa79128,3,2,348.0,180,NaN,NaN,0,5,48,24,NaN,16.0,0,24,180,76.0,228,3,0.000000

In [6]:
df_final = pd.merge(df_encoded, df_encoded_scl, on = ['profile_name'], how = 'outer')
df_final

,profile_name,number_of_jobs,first_job_level,first_job_recency_months,first_job_duration_months,first_company_size,first_company_age_years,first_company_apparel,first_company_sri_lankan,last_job_level,...,last_qual_duration_months,last_institute_size,last_institute_age_years,last_institute_sri_lankan,minimum_qual_duration_months,maximum_qual_duration_months,average_qual_duration_months,total_qual_duration_months,number_of_institutes,duration ratio in sri lanka_y
0,zeenath-ahamed-3678a4b8,5.0,4.0,214.0,55.0,4.0,36.0,1.0,1.0,6.0,...,48.0,NaN,NaN,0.0,48.0,168.0,108.0,216.0,2.0,0.000000
1,yuwin-mestrige-9a15361a9,4.0,3.0,72.0,26.0,4.0,36.0,1.0,1.0,4.0,...,12.0,NaN,NaN,0.0,12.0,156.0,72.0,216.0,3.0,0.222222
2,yoshan-de-zoysa,6.0,1.0,114.0,8.0,NaN,NaN,0.0,0.0,5.0,...,12.0,NaN,17.0,0.0,0.0,156.0,45.6,228.0,5.0,0.000000
3,yohan-deshappriya-a816b3104,7.0,3.0,218.0,29.0,NaN,NaN,0.0,0.0,8.0,...,12.0,5.0,140.0,0.0,12.0,60.0,36.0,72.0,2.0,0.000000
4,yasith-wijewardene,7.0,1.0,97.0,13.0,3.0,NaN,0.0,1.0,5.0,...,0.0,NaN,NaN,0.0,0.0,168.0,51.0,204.0,4.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,akalanka-chaminda-a214907a,2.0,1.0,120.0,43.0,NaN,NaN,0.0,0.0,6.0,...,12.0,4.0,158.0,0.0,12.0,36.0,24.0,48.0,2.0,0.000000
319,ajith-siyambalapitiya-9877ba27,2.0,2.0,457.0,265.0,NaN,NaN,0.0,0.0,8.0,...,132.0,NaN,NaN,0.0,132.0,132.0,132.0,132.0,1.0,0.000000
320,aaliya-mohamed-57aa79128,5.0,1.0,126.0,6.0,4.0,36.0,1.0,1.0,4.0,...,24.0,NaN,16.0,0.0,24.0,180.0,76.0,228.0,3.0,0.000000
321,roshendefonseka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,4.0,NaN,0.0,12.0,96.0,48.0,144.0,3.0,0.000000
322,poorna-senanayake-42410b1a6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36.0,NaN,150.0,1.0,36.0,36.0,36.0,36.0,1.0,1.000000

In [7]:
df_y = pd.read_csv("y_variable_for_clean.csv")
df_y

,Unnamed: 0,profile_name,job_change,job_change_horizon
0,0,zeenath-ahamed-3678a4b8,0,0
1,5,yuwin-mestrige-9a15361a9,1,1
2,10,yoshan-de-zoysa,0,0
3,16,yohan-deshappriya-a816b3104,0,0
4,23,yasith-wijewardene,0,0
...,...,...,...,...
318,1680,aloka-senavirathne-767029169,0,0
319,1682,aloka-lokuhetty-22221119b,1,9
320,1686,akalanka-chaminda-a214907a,0,0
321,1688,ajith-siyambalapitiya-9877ba27,0,0
322,1690,aaliya-mohamed-57aa79128,1,9

In [8]:
df_final_all = pd.merge(df_final, df_y, on = ['profile_name'], how = 'outer')
df_final_all

,profile_name,number_of_jobs,first_job_level,first_job_recency_months,first_job_duration_months,first_company_size,first_company_age_years,first_company_apparel,first_company_sri_lankan,last_job_level,...,last_institute_sri_lankan,minimum_qual_duration_months,maximum_qual_duration_months,average_qual_duration_months,total_qual_duration_months,number_of_institutes,duration ratio in sri lanka_y,Unnamed: 0,job_change,job_change_horizon
0,zeenath-ahamed-3678a4b8,5.0,4.0,214.0,55.0,4.0,36.0,1.0,1.0,6.0,...,0.0,48.0,168.0,108.0,216.0,2.0,0.000000,0,0,0
1,yuwin-mestrige-9a15361a9,4.0,3.0,72.0,26.0,4.0,36.0,1.0,1.0,4.0,...,0.0,12.0,156.0,72.0,216.0,3.0,0.222222,5,1,1
2,yoshan-de-zoysa,6.0,1.0,114.0,8.0,NaN,NaN,0.0,0.0,5.0,...,0.0,0.0,156.0,45.6,228.0,5.0,0.000000,10,0,0
3,yohan-deshappriya-a816b3104,7.0,3.0,218.0,29.0,NaN,NaN,0.0,0.0,8.0,...,0.0,12.0,60.0,36.0,72.0,2.0,0.000000,16,0,0
4,yasith-wijewardene,7.0,1.0,97.0,13.0,3.0,NaN,0.0,1.0,5.0,...,0.0,0.0,168.0,51.0,204.0,4.0,1.000000,23,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,akalanka-chaminda-a214907a,2.0,1.0,120.0,43.0,NaN,NaN,0.0,0.0,6.0,...,0.0,12.0,36.0,24.0,48.0,2.0,0.000000,1686,0,0
319,ajith-siyambalapitiya-9877ba27,2.0,2.0,457.0,265.0,NaN,NaN,0.0,0.0,8.0,...,0.0,132.0,132.0,132.0,132.0,1.0,0.000000,1688,0,0
320,aaliya-mohamed-57aa79128,5.0,1.0,126.0,6.0,4.0,36.0,1.0,1.0,4.0,...,0.0,24.0,180.0,76.0,228.0,3.0,0.000000,1690,1,9
321,roshendefonseka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,12.0,96.0,48.0,144.0,3.0,0.000000,497,0,0
322,poorna-senanayake-42410b1a6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,36.0,36.0,36.0,36.0,1.0,1.000000,587,1,7

In [10]:
df_final_all.to_excel("final all.xlsx")

In [22]:
df_final_all.dropna(subset=["number_of_jobs"],inplace=True)
df_final_all

,profile_name,number_of_jobs,first_job_level,first_job_recency_months,first_job_duration_months,first_company_size,first_company_age_years,first_company_apparel,first_company_sri_lankan,last_job_level,...,last_institute_age_years,last_institute_sri_lankan,minimum_qual_duration_months,maximum_qual_duration_months,average_qual_duration_months,total_qual_duration_months,number_of_institutes,duration ratio in sri lanka_y,job_change,job_change_horizon
0,zeenath-ahamed-3678a4b8,5.0,1.0,153.0,79.0,NaN,NaN,0.0,0.0,6.0,...,NaN,0.0,48.0,168.0,108.0,216.0,2.0,0.000000,0.0,0.0
1,yohan-deshappriya-a816b3104,11.0,3.0,218.0,29.0,NaN,NaN,0.0,0.0,8.0,...,140.0,0.0,12.0,60.0,36.0,72.0,2.0,0.000000,0.0,0.0
2,yasith-wijewardene,8.0,1.0,97.0,13.0,3.0,NaN,0.0,1.0,1.0,...,NaN,0.0,0.0,168.0,51.0,204.0,4.0,1.000000,0.0,0.0
3,yasith-mendis-002559198,4.0,3.0,43.0,33.0,4.0,36.0,1.0,1.0,4.0,...,110.0,1.0,36.0,36.0,36.0,36.0,1.0,1.000000,0.0,0.0
4,yashas-abeyrathne-b37784a0,7.0,3.0,117.0,36.0,4.0,36.0,1.0,1.0,1.0,...,17.0,0.0,12.0,48.0,30.0,60.0,2.0,0.800000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,akalanka-chaminda-a214907a,2.0,1.0,89.0,86.0,4.0,36.0,1.0,1.0,1.0,...,158.0,0.0,12.0,36.0,24.0,48.0,2.0,0.000000,0.0,0.0
251,ajanthan-sega-99b11042,4.0,1.0,154.0,39.0,NaN,NaN,0.0,0.0,6.0,...,150.0,1.0,12.0,48.0,28.0,84.0,3.0,0.428571,1.0,6.0
252,afham-mohamed-ali-57190515,8.0,1.0,340.0,12.0,NaN,NaN,0.0,0.0,9.0,...,150.0,1.0,36.0,36.0,36.0,72.0,2.0,0.500000,0.0,0.0
253,aelesha-ismail-955499206,1.0,1.0,118.0,7.0,NaN,NaN,0.0,0.0,1.0,...,17.0,0.0,12.0,36.0,24.0,48.0,2.0,0.000000,1.0,4.0
254,abiram-gunarajah-301109127,2.0,1.0,68.0,7.0,4.0,36.0,1.0,1.0,1.0,...,NaN,0.0,36.0,36.0,36.0,36.0,1.0,0.000000,0.0,0.0

In [23]:
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split

In [24]:
seednumber = 10
shuffle_param = True
np.random.seed(seednumber)

X = df_final_all.drop(["job_change","job_change_horizon","profile_name"], axis=1)
y = df_final_all['job_change']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,shuffle=shuffle_param)

In [25]:
xg = XGBRegressor()
# le = LabelEncoder()
# y_train = le.fit_transform(y_train)
xg.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [26]:
xg.score(X_test, y_test)

-0.018513305871721508

In [27]:
Xn = df_final_all.drop(["job_change","job_change_horizon","profile_name"], axis=1)
yn = df_final_all['job_change_horizon']
Xn_train, Xn_test, yn_train, yn_test = train_test_split(Xn, yn, test_size=0.2,shuffle=shuffle_param)

In [28]:
xgn = XGBRegressor()
# le = LabelEncoder()
# y_train = le.fit_transform(y_train)
xgn.fit(Xn_train, yn_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [29]:
xgn.score(Xn_test, yn_test)

-0.2542914378373653

In [30]:
from sklearn.model_selection import GridSearchCV

In [31]:
model_params = {
'xgboost' : {
        'model':XGBRegressor(),
        'params': {
            'learning_rate':[0.01,0.03,0.035,0.04,0.05],
            'max_depth':[5,6,7,8,9],
            'random_state':[0,1],
            'gamma':[0.01,0.015,0.02,0.06,0.1],
            'colsample_bytree':[0.3,0.4,0.5,0.6]
        }
       } 
}

In [32]:
# grid_search_results = []

# for model_name, mp in model_params.items():
#     grid_search_reg =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
#     grid_search_reg.fit(X_train, y_train)
# #     grid_search_reg.fit(X, y)
#     grid_search_results.append({
#         'model': model_name,
#         'grid_search_best_score': grid_search_reg.best_score_,
#         'grid_search_best_params': grid_search_reg.best_params_
#     })

In [33]:
# grid_search_results

In [34]:
xgf = XGBRegressor(colsample_bytree= 0.3,
   gamma= 0.02,
   learning_rate= 0.01,
   max_depth= 6,
   random_state= 1)
# le = LabelEncoder()
# y_train = le.fit_transform(y_train)
xgf.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=0.3, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=0.02, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.01, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=6, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=1, ...)

In [35]:
xgf.score(X_test, y_test)

-0.026982012068297978

In [66]:
from xgboost import XGBClassifier
# read data
from sklearn.model_selection import train_test_split
# data = load_iris()
# X_train, X_test, y_train, y_test = train_test_split(data['data'], data['target'], test_size=.2)
# create model instance
bst = XGBClassifier(n_estimators=200, max_depth=2, learning_rate=0.1, objective='binary:logistic')
# fit model
bst.fit(X_train, y_train)
# make predictions
preds = bst.predict(X_test)
bst.score(X_test, y_test)

0.7450980392156863

In [54]:
preds

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0])

In [55]:
y_test.to_list()

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0]

In [64]:
bst.score(X_test, y_test)

0.7058823529411765

In [57]:
df_pred = pd.DataFrame()
df_pred["Pred"] = preds
df_pred["Y target"] = y_test.to_list()
df_pred

    Pred  Y target
0      0       0.0
1      0       0.0
2      0       0.0
3      0       0.0
4      0       0.0
5      0       0.0
6      0       0.0
7      0       0.0
8      0       0.0
9      0       1.0
10     0       0.0
11     0       0.0
12     0       1.0
13     0       0.0
14     0       1.0
15     0       0.0
16     0       0.0
17     0       1.0
18     0       0.0
19     0       1.0
20     0       0.0
21     0       1.0
22     0       0.0
23     0       1.0
24     0       0.0
25     0       0.0
26     0       0.0
27     0       0.0
28     0       0.0
29     0       0.0
30     0       0.0
31     0       1.0
32     0       0.0
33     0       0.0
34     0       0.0
35     0       0.0
36     0       1.0
37     0       1.0
38     0       0.0
39     0       1.0
40     0       1.0
41     0       0.0
42     0       0.0
43     0       0.0
44     0       0.0
45     0       0.0
46     0       0.0
47     0       0.0
48     0       0.0
49     0       0.0
50     0       1.0