In [1]:
import pandas as pd
import numpy as np
import openpyxl

In [2]:
# df = pd.read_excel("C:/Users/harindug/Downloads/Book2.xlsx")
# df

In [3]:
# data = {
#     "number_of_jobs" : [len(df['job_level'])],
#     "first_job_level" : [df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['job_level']],
#     "first_job_recency_months" : [df['start_recency_months'].max()],
#     "first_job_duration_months" : [df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['duration_months']],
#     "first_company_size" : [df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['company_size']],
#     "first_company_age_years" : [df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['company_age_years']],
#     "first_company_apparel" : [df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['apparel_industry']],
#     "first_company_sri_lankan" : [df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['sri_lankan']],
#     "last_job_level" : [df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['job_level']],
#     "last_job_recency_months" : [df['start_recency_months'].min()],
#     "last_job_duration_months" : [df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['duration_months']],
#     "last_company_size" : [df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['company_size']],
#     "last_company_age_years" : [df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['company_age_years']],
#     "last_company_apparel" : [df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['apparel_industry']],
#     "last_company_sri_lankan" : [df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['sri_lankan']],
#     "minimum_job_duration_months" : [df['duration_months'].min()],
#     "maximum_job_duration_months" : [df['duration_months'].max()],
#     "average_job_duration_months" : [df['duration_months'].mean()],
#     "total_job_duration_months" : [df['duration_months'].sum()]
# }

# df_new = pd.DataFrame(data)
# data

In [4]:
# df=pd.DataFrame(data)

In [5]:
# ((df['total_job_duration_months']-df['last_job_duration_months'])/12)/df["total levelups"]

In [6]:
# df_new

In [7]:
# df_old = pd.read_excel("C:/Users/harindug/Downloads/final_company_mapping 1.xlsx")
# df_old

In [8]:
# print([val for p in df["Profile Name"].unique() for val in [a for a in [len(df[df["Profile Name"]==p]["Job_Level"])]]])

In [9]:
# df_n = pd.DataFrame()
# df_encoded = pd.DataFrame()
# for profile in df_old["profile_name"].unique():
#     df = df_old[df_old["profile_name"]==profile]
#     df_n["profile_name"] = df["profile_name"].unique()
#     df_n["number_of_jobs"] = len(df['job_level']),
#     df_n["first_job_level"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['job_level'],
#     df_n["first_job_recency_months"] = df['start_recency_months'].max(),
#     df_n["first_job_duration_months"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['duration'],
#     df_n["first_company_size"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['company_size'],
#     df_n["first_company_age_years"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['company_age_years'],
#     df_n["first_company_apparel"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['apparel_industry'],
#     df_n["first_company_sri_lankan"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['headquaters'],
#     df_n["last_job_level"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['job_level'],
#     df_n["last_job_recency_months"] = df['start_recency_months'].min(),
#     df_n["last_job_duration_months"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['duration'],
#     df_n["last_company_size"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['company_size'],
#     df_n["last_company_age_years"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['company_age_years'],
#     df_n["last_company_apparel"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['apparel_industry'],
#     df_n["last_company_sri_lankan"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['headquaters'],
#     df_n["minimum_job_duration_months"] = df['duration'].min(),
#     df_n["maximum_job_duration_months"] = df['duration'].max(),
#     df_n["average_job_duration_months"] = df['duration'].mean(),
#     df_n["total_job_duration_months"] = df['duration'].sum()
#     df_n["number of turnovers"] = df[df['company_change']>-1]["company_change"].sum()
#     df_n["number of companies"] = df['cum_no_of_companies'].max()
#     df_n["number of levelups"] = len(df[df['level_up']>0]["level_up"])
#     df_n["total levelups"] = df[df['level_up']>-1]["level_up"].sum()
#     df_n["average years for levelup"] = ((df_n['total_job_duration_months']-df_n['last_job_duration_months'])/12)/df_n["total levelups"]
#     df_n["total LUs within company"] = df[df['company_change']==0]["level_up"].sum()
#     df_n["total LUs outside company"] = df[df['company_change']==1]["level_up"].sum()
#     df_n["number of lateral movements"] = len(df[df['lateral_movements']>0]["lateral_movements"])
#     df_n["duration ratio in sri lanka"] = (df[df['headquaters']==1]["duration"].sum())/df_n["total_job_duration_months"]
#     df_n["duration ratio in apparel"] = (df[df['apparel_industry']==1]["duration"].sum())/df_n["total_job_duration_months"]
#     df_encoded = pd.concat([df_encoded, df_n], ignore_index = True)

# df_encoded

In [10]:
# df_scl = pd.read_csv("C:/Users/harindug/Downloads/final_school_mapping (2).csv")
# df_scl

In [11]:
# df_ed = pd.DataFrame()
# df_encoded_scl = pd.DataFrame()
# for profile in df_scl["profile_name"].unique():
#     df = df_scl[df_scl["profile_name"]==profile]
#     df_ed["profile_name"] = df["profile_name"].unique()
#     df_ed["number_of_Qualifications"] = len(df['course_level']),
#     df_ed["first_qual_level"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['course_level'],
#     df_ed["first_qual_recency_months"] = df['start_recency_months'].max(),
#     df_ed["first_qual_duration_months"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['duration'],
#     df_ed["first_institute_size"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['school_size'],
#     df_ed["first_institute_age_years"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['school_age_years'],
#     df_ed["first_institute_sri_lankan"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['headquaters'],
#     df_ed["last_qual_level"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['course_level'],
#     df_ed["last_qual_recency_months"] = df['start_recency_months'].min(),
#     df_ed["last_qual_duration_months"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['duration'],
#     df_ed["last_institute_size"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['school_size'],
#     df_ed["last_institute_age_years"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['school_age_years'],
#     df_ed["last_institute_sri_lankan"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['headquaters'],
#     df_ed["minimum_qual_duration_months"] = df['duration'].min(),
#     df_ed["maximum_qual_duration_months"] = df['duration'].max(),
#     df_ed["average_qual_duration_months"] = df['duration'].mean(),
#     df_ed["total_qual_duration_months"] = df['duration'].sum()
# #     df_ed["number_of_institutes"] = len(df['course_level'])
#     df_ed["duration ratio in sri lanka"] = df['course_level'].max() - df['course_level'].min()
#     df_ed["duration ratio in sri lanka"] = (df[df['headquaters']==1]["duration"].sum())/df_ed["total_qual_duration_months"]
#     df_encoded_scl = pd.concat([df_encoded_scl, df_ed], ignore_index = True)

# df_encoded_scl

In [12]:
# df_final = pd.merge(df_encoded, df_encoded_scl, on = ['profile_name'], how = 'outer')

In [13]:
# df_final.to_excel("C:/Users/harindug/Downloads/final output.xlsx")

In [14]:
df_old = pd.read_csv("C:/MAS/HR project/final_company_mapping_all_profiles.csv")
df_old

,profile_name,organisation,duration,start_recency_months,end_recency_months,job_level,company_change,cum_no_of_companies,level_up,lateral_movements,apparel_industry,company_size,company_age_years,headquaters
0,zeenath-ahamed-3678a4b8,mas holdings,31,21.0,0.0,6,0,2,0,1,1,4.0,36.0,1
1,zeenath-ahamed-3678a4b8,mas holdings,31,21.0,0.0,6,0,2,5,0,1,4.0,36.0,1
2,zeenath-ahamed-3678a4b8,mas holdings,34,54.0,21.0,1,0,2,0,1,1,4.0,36.0,1
3,zeenath-ahamed-3678a4b8,mas holdings,34,54.0,21.0,1,1,2,0,0,1,4.0,36.0,1
4,zeenath-ahamed-3678a4b8,mas active (pvt) ltd,79,153.0,74.0,1,-1,1,-1,-1,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1404,afham-mohamed-ali-57190515,unilever,20,327.0,308.0,6,0,1,5,0,0,NaN,NaN,0
1405,afham-mohamed-ali-57190515,unilever,12,340.0,329.0,1,-1,1,-1,-1,0,NaN,NaN,0
1406,aelesha-ismail-955499206,red bull,7,118.0,112.0,1,-1,1,-1,-1,0,NaN,NaN,0
1407,abiram-gunarajah-301109127,mas holdings,7,68.0,61.0,1,0,1,0,1,1,4.0,36.0,1
1408,abiram-gunarajah-301109127,mas holdings,7,68.0,61.0,1,-1,1,-1,-1,1,4.0,36.0,1

In [15]:
df_n = pd.DataFrame()
df_encoded = pd.DataFrame()
for profile in df_old["profile_name"].unique():
    df = df_old[df_old["profile_name"]==profile]
    df_n["profile_name"] = df["profile_name"].unique()
    df_n["number_of_jobs"] = len(df['job_level']),
    df_n["first_job_level"] = df[df['start_recency_months']==df['start_recency_months'].max()]['job_level'].max(),
    df_n["first_job_recency_months"] = df['start_recency_months'].max(),
    df_n["first_job_duration_months"] = df[df['start_recency_months']==df['start_recency_months'].max()]['duration'].max(),
    df_n["first_company_size"] = df[df['start_recency_months']==df['start_recency_months'].max()]['company_size'].max(),
    df_n["first_company_age_years"] = df[df['start_recency_months']==df['start_recency_months'].max()]['company_age_years'].max(),
    df_n["first_company_apparel"] = df[df['start_recency_months']==df['start_recency_months'].max()]['apparel_industry'].max(),
    df_n["first_company_sri_lankan"] = df[df['start_recency_months']==df['start_recency_months'].max()]['headquaters'].max(),
    df_n["last_job_level"] = df[df['start_recency_months']==df['start_recency_months'].min()]['job_level'].max(),
    df_n["last_job_recency_months"] = df['start_recency_months'].min(),
    df_n["last_job_duration_months"] = df[df['start_recency_months']==df['start_recency_months'].min()]['duration'].min(),
    df_n["last_company_size"] = df[df['start_recency_months']==df['start_recency_months'].min()]['company_size'].min(),
    df_n["last_company_age_years"] = df[df['start_recency_months']==df['start_recency_months'].min()]['company_age_years'].min(),
    df_n["last_company_apparel"] = df[df['start_recency_months']==df['start_recency_months'].min()]['apparel_industry'].min(),
    df_n["last_company_sri_lankan"] = df[df['start_recency_months']==df['start_recency_months'].min()]['headquaters'].min(),
    df_n["minimum_job_duration_months"] = df['duration'].min(),
    df_n["maximum_job_duration_months"] = df['duration'].max(),
    df_n["average_job_duration_months"] = df['duration'].mean(),
    df_n["total_job_duration_months"] = df['duration'].sum()
    df_n["number of turnovers"] = df[df['company_change']>-1]["company_change"].sum()
    df_n["number of companies"] = df['cum_no_of_companies'].max()
    df_n["number of levelups"] = len(df[df['level_up']>0]["level_up"])
    df_n["total levelups"] = df[df['level_up']>-1]["level_up"].sum()
    df_n["average years for levelup"] = ((df_n['total_job_duration_months']-df_n['last_job_duration_months'])/12)/(df_n[df_n["total levelups"]!=0]["total levelups"])
    df_n["total LUs within company"] = df[df['company_change']==0]["level_up"].sum()
    df_n["total LUs outside company"] = df[df['company_change']==1]["level_up"].sum()
    df_n["number of lateral movements"] = len(df[df['lateral_movements']>0]["lateral_movements"])
    df_n["duration ratio in sri lanka"] = (df[df['headquaters']==1]["duration"].sum())/df_n["total_job_duration_months"]
    df_n["duration ratio in apparel"] = (df[df['apparel_industry']==1]["duration"].sum())/df_n["total_job_duration_months"]
    df_encoded = pd.concat([df_encoded, df_n], ignore_index = True)

df_encoded

,profile_name,number_of_jobs,first_job_level,first_job_recency_months,first_job_duration_months,first_company_size,first_company_age_years,first_company_apparel,first_company_sri_lankan,last_job_level,...,number of turnovers,number of companies,number of levelups,total levelups,average years for levelup,total LUs within company,total LUs outside company,number of lateral movements,duration ratio in sri lanka,duration ratio in apparel
0,zeenath-ahamed-3678a4b8,5,1.0,153.0,79.0,NaN,NaN,0.0,0.0,6.0,...,1,2,1,5,2.966667,5,0,2,0.622010,0.622010
1,yohan-deshappriya-a816b3104,11,3.0,218.0,29.0,NaN,NaN,0.0,0.0,8.0,...,1,2,3,7,5.976190,7,-2,6,0.944338,0.944338
2,yasith-wijewardene,8,1.0,97.0,13.0,3.0,NaN,0.0,1.0,1.0,...,3,3,2,3,3.027778,2,-2,3,0.880952,0.777778
3,yasith-mendis-002559198,4,3.0,43.0,33.0,4.0,36.0,1.0,1.0,4.0,...,1,2,1,1,7.250000,0,1,2,1.000000,1.000000
4,yashas-abeyrathne-b37784a0,7,3.0,117.0,36.0,4.0,36.0,1.0,1.0,1.0,...,1,2,1,1,16.500000,-2,0,3,0.868421,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,akalanka-chaminda-a214907a,2,1.0,89.0,86.0,4.0,36.0,1.0,1.0,1.0,...,0,1,0,0,NaN,0,0,1,1.000000,1.000000
251,ajanthan-sega-99b11042,4,1.0,154.0,39.0,NaN,NaN,0.0,0.0,6.0,...,2,3,2,7,1.035714,5,0,0,0.288660,0.000000
252,afham-mohamed-ali-57190515,8,1.0,340.0,12.0,NaN,NaN,0.0,0.0,9.0,...,4,5,3,13,1.621795,11,-3,1,0.380952,0.679365
253,aelesha-ismail-955499206,1,1.0,118.0,7.0,NaN,NaN,0.0,0.0,1.0,...,0,1,0,0,NaN,0,0,0,0.000000,0.000000
254,abiram-gunarajah-301109127,2,1.0,68.0,7.0,4.0,36.0,1.0,1.0,1.0,...,0,1,0,0,NaN,0,0,1,1.000000,1.000000

In [16]:
df_scl = pd.read_csv("C:/MAS/HR project/final_school_mapping_for_all_profiles (1).csv")
df_scl

,profile_name,course_level,duration,start_recency_months,end_recency_months,school_size,school_age_years,headquaters,cum_no_of_schools
0,zeenath-ahamed-3678a4b8,4,48,276,228,NaN,NaN,0,2
1,zeenath-ahamed-3678a4b8,1,168,456,288,NaN,NaN,0,1
2,yoshan-de-zoysa,5,12,36,24,NaN,17.0,0,5
3,yoshan-de-zoysa,1,0,48,48,1.0,112.0,0,4
4,yoshan-de-zoysa,4,12,96,84,NaN,NaN,0,3
...,...,...,...,...,...,...,...,...,...
1086,afham-mohamed-ali-57190515,5,36,264,228,NaN,150.0,1,2
1087,afham-mohamed-ali-57190515,4,36,384,348,NaN,NaN,0,1
1088,aelesha-ismail-955499206,5,12,24,12,NaN,17.0,0,2
1089,aelesha-ismail-955499206,4,36,132,96,NaN,NaN,0,1
1090,abiram-gunarajah-301109127,4,36,108,72,NaN,NaN,0,1

In [17]:
df_ed = pd.DataFrame()
df_encoded_scl = pd.DataFrame()
for profile in df_scl["profile_name"].unique():
    df = df_scl[df_scl["profile_name"]==profile]
    df_ed["profile_name"] = df["profile_name"].unique()
    df_ed["number_of_Qualifications"] = len(df['course_level']),
    df_ed["first_qual_level"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['course_level'],
    df_ed["first_qual_recency_months"] = df[df['start_recency_months']!=24276]['start_recency_months'].max(),
    df_ed["first_qual_duration_months"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['duration'],
    df_ed["first_institute_size"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['school_size'],
    df_ed["first_institute_age_years"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['school_age_years'],
    df_ed["first_institute_sri_lankan"] = df[df['start_recency_months']==df['start_recency_months'].max()].iloc[0]['headquaters'],
    df_ed["last_qual_level"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['course_level'],
    df_ed["last_qual_recency_months"] = df['start_recency_months'].min(),
    df_ed["last_qual_duration_months"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['duration'],
    df_ed["last_institute_size"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['school_size'],
    df_ed["last_institute_age_years"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['school_age_years'],
    df_ed["last_institute_sri_lankan"] = df[df['start_recency_months']==df['start_recency_months'].min()].iloc[0]['headquaters'],
    df_ed["minimum_qual_duration_months"] = df['duration'].min(),
    df_ed["maximum_qual_duration_months"] = df['duration'].max(),
    df_ed["average_qual_duration_months"] = df['duration'].mean(),
    df_ed["total_qual_duration_months"] = df['duration'].sum()
    df_ed["number_of_institutes"] = df['cum_no_of_schools'].max()
    df_ed["duration ratio in sri lanka"] = df['course_level'].max() - df['course_level'].min()
    df_ed["duration ratio in sri lanka"] = (df[df['headquaters']==1]["duration"].sum())/df_ed["total_qual_duration_months"]
    df_encoded_scl = pd.concat([df_encoded_scl, df_ed], ignore_index = True)

df_encoded_scl

,profile_name,number_of_Qualifications,first_qual_level,first_qual_recency_months,first_qual_duration_months,first_institute_size,first_institute_age_years,first_institute_sri_lankan,last_qual_level,last_qual_recency_months,last_qual_duration_months,last_institute_size,last_institute_age_years,last_institute_sri_lankan,minimum_qual_duration_months,maximum_qual_duration_months,average_qual_duration_months,total_qual_duration_months,number_of_institutes,duration ratio in sri lanka
0,zeenath-ahamed-3678a4b8,2,1,456.0,168,NaN,NaN,0,4,276,48,NaN,NaN,0,48,168,108.0,216,2,0.000000
1,yoshan-de-zoysa,5,1,276.0,156,NaN,NaN,0,5,36,12,NaN,17.0,0,0,156,45.6,228,5,0.000000
2,yohan-sidantha-marapana-33a1b764,1,1,NaN,0,NaN,NaN,0,1,24276,0,NaN,NaN,0,0,0,0.0,0,1,NaN
3,yohan-deshappriya-a816b3104,2,1,228.0,60,NaN,NaN,0,5,144,12,5.0,140.0,0,12,60,36.0,72,2,0.000000
4,yasith-wijewardene,4,1,276.0,0,NaN,NaN,0,5,0,0,NaN,NaN,0,0,168,51.0,204,4,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,ajith-siyambalapitiya-9877ba27,1,5,600.0,132,NaN,NaN,0,5,600,132,NaN,NaN,0,132,132,132.0,132,1,0.000000
330,ajanthan-sega-99b11042,3,4,180.0,12,4.0,110.0,1,5,72,24,NaN,150.0,1,12,48,28.0,84,3,0.428571
331,afham-mohamed-ali-57190515,2,4,384.0,36,NaN,NaN,0,5,264,36,NaN,150.0,1,36,36,36.0,72,2,0.500000
332,aelesha-ismail-955499206,2,4,132.0,36,NaN,NaN,0,5,24,12,NaN,17.0,0,12,36,24.0,48,2,0.000000
333,abiram-gunarajah-301109127,1,4,108.0,36,NaN,NaN,0,4,108,36,NaN,NaN,0,36,36,36.0,36,1,0.000000

In [18]:
df_final = pd.merge(df_encoded, df_encoded_scl, on = ['profile_name'], how = 'outer')
df_final

,profile_name,number_of_jobs,first_job_level,first_job_recency_months,first_job_duration_months,first_company_size,first_company_age_years,first_company_apparel,first_company_sri_lankan,last_job_level,...,last_qual_duration_months,last_institute_size,last_institute_age_years,last_institute_sri_lankan,minimum_qual_duration_months,maximum_qual_duration_months,average_qual_duration_months,total_qual_duration_months,number_of_institutes,duration ratio in sri lanka_y
0,zeenath-ahamed-3678a4b8,5.0,1.0,153.0,79.0,NaN,NaN,0.0,0.0,6.0,...,48.0,NaN,NaN,0.0,48.0,168.0,108.0,216.0,2.0,0.000000
1,yohan-deshappriya-a816b3104,11.0,3.0,218.0,29.0,NaN,NaN,0.0,0.0,8.0,...,12.0,5.0,140.0,0.0,12.0,60.0,36.0,72.0,2.0,0.000000
2,yasith-wijewardene,8.0,1.0,97.0,13.0,3.0,NaN,0.0,1.0,1.0,...,0.0,NaN,NaN,0.0,0.0,168.0,51.0,204.0,4.0,1.000000
3,yasith-mendis-002559198,4.0,3.0,43.0,33.0,4.0,36.0,1.0,1.0,4.0,...,36.0,4.0,110.0,1.0,36.0,36.0,36.0,36.0,1.0,1.000000
4,yashas-abeyrathne-b37784a0,7.0,3.0,117.0,36.0,4.0,36.0,1.0,1.0,1.0,...,12.0,NaN,17.0,0.0,12.0,48.0,30.0,60.0,2.0,0.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,ashan-wijesiriwardana-41108371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36.0,NaN,NaN,0.0,36.0,36.0,36.0,36.0,1.0,0.000000
340,anosha-koralage-mst-msc-beng-amicheme-b584403a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.0,NaN,NaN,0.0,12.0,132.0,54.0,216.0,4.0,0.000000
341,amilapathirana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,NaN,NaN,0.0,12.0,24.0,16.0,48.0,2.0,0.000000
342,akila-perera-aa8410102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36.0,NaN,150.0,1.0,36.0,156.0,76.0,228.0,2.0,0.157895
343,ajith-siyambalapitiya-9877ba27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,132.0,NaN,NaN,0.0,132.0,132.0,132.0,132.0,1.0,0.000000

In [19]:
df_y = pd.read_csv("C:/MAS/HR project/y_variable_for_all_profiles.csv")
df_y

,profile_name,job_change,job_change_horizon
0,maneesha-liyanage-7961977b,1,9
1,udayanga-costa-8939a922,1,8
2,nimesh-madhuranga-a09276b6,1,8
3,keshan-uyanahewa-4512988a,1,8
4,anuka-aluwihare-b64608168,1,8
...,...,...,...
255,udani-jayasinghe-3b42906,0,0
256,susil-amarabandu-4735a5b7,0,0
257,dilanji-wijayasekara-ph-d-rac-drugs-641a2a47,0,0
258,ashiq-lafir-b857563,0,0
259,upeli-pathirana-114649219,0,0

In [20]:
df_final_all = pd.merge(df_final, df_y, on = ['profile_name'], how = 'outer')
df_final_all

,profile_name,number_of_jobs,first_job_level,first_job_recency_months,first_job_duration_months,first_company_size,first_company_age_years,first_company_apparel,first_company_sri_lankan,last_job_level,...,last_institute_age_years,last_institute_sri_lankan,minimum_qual_duration_months,maximum_qual_duration_months,average_qual_duration_months,total_qual_duration_months,number_of_institutes,duration ratio in sri lanka_y,job_change,job_change_horizon
0,zeenath-ahamed-3678a4b8,5.0,1.0,153.0,79.0,NaN,NaN,0.0,0.0,6.0,...,NaN,0.0,48.0,168.0,108.0,216.0,2.0,0.000000,0.0,0.0
1,yohan-deshappriya-a816b3104,11.0,3.0,218.0,29.0,NaN,NaN,0.0,0.0,8.0,...,140.0,0.0,12.0,60.0,36.0,72.0,2.0,0.000000,0.0,0.0
2,yasith-wijewardene,8.0,1.0,97.0,13.0,3.0,NaN,0.0,1.0,1.0,...,NaN,0.0,0.0,168.0,51.0,204.0,4.0,1.000000,0.0,0.0
3,yasith-mendis-002559198,4.0,3.0,43.0,33.0,4.0,36.0,1.0,1.0,4.0,...,110.0,1.0,36.0,36.0,36.0,36.0,1.0,1.000000,0.0,0.0
4,yashas-abeyrathne-b37784a0,7.0,3.0,117.0,36.0,4.0,36.0,1.0,1.0,1.0,...,17.0,0.0,12.0,48.0,30.0,60.0,2.0,0.800000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,ashan-wijesiriwardana-41108371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,36.0,36.0,36.0,36.0,1.0,0.000000,NaN,NaN
340,anosha-koralage-mst-msc-beng-amicheme-b584403a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,12.0,132.0,54.0,216.0,4.0,0.000000,NaN,NaN
341,amilapathirana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,12.0,24.0,16.0,48.0,2.0,0.000000,NaN,NaN
342,akila-perera-aa8410102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150.0,1.0,36.0,156.0,76.0,228.0,2.0,0.157895,NaN,NaN
343,ajith-siyambalapitiya-9877ba27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,132.0,132.0,132.0,132.0,1.0,0.000000,NaN,NaN

In [21]:
df_final_all.to_excel("C:/MAS/HR project/final output all profile.xlsx")

In [22]:
df_final_all.dropna(subset=["number_of_jobs"],inplace=True)
df_final_all

,profile_name,number_of_jobs,first_job_level,first_job_recency_months,first_job_duration_months,first_company_size,first_company_age_years,first_company_apparel,first_company_sri_lankan,last_job_level,...,last_institute_age_years,last_institute_sri_lankan,minimum_qual_duration_months,maximum_qual_duration_months,average_qual_duration_months,total_qual_duration_months,number_of_institutes,duration ratio in sri lanka_y,job_change,job_change_horizon
0,zeenath-ahamed-3678a4b8,5.0,1.0,153.0,79.0,NaN,NaN,0.0,0.0,6.0,...,NaN,0.0,48.0,168.0,108.0,216.0,2.0,0.000000,0.0,0.0
1,yohan-deshappriya-a816b3104,11.0,3.0,218.0,29.0,NaN,NaN,0.0,0.0,8.0,...,140.0,0.0,12.0,60.0,36.0,72.0,2.0,0.000000,0.0,0.0
2,yasith-wijewardene,8.0,1.0,97.0,13.0,3.0,NaN,0.0,1.0,1.0,...,NaN,0.0,0.0,168.0,51.0,204.0,4.0,1.000000,0.0,0.0
3,yasith-mendis-002559198,4.0,3.0,43.0,33.0,4.0,36.0,1.0,1.0,4.0,...,110.0,1.0,36.0,36.0,36.0,36.0,1.0,1.000000,0.0,0.0
4,yashas-abeyrathne-b37784a0,7.0,3.0,117.0,36.0,4.0,36.0,1.0,1.0,1.0,...,17.0,0.0,12.0,48.0,30.0,60.0,2.0,0.800000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,akalanka-chaminda-a214907a,2.0,1.0,89.0,86.0,4.0,36.0,1.0,1.0,1.0,...,158.0,0.0,12.0,36.0,24.0,48.0,2.0,0.000000,0.0,0.0
251,ajanthan-sega-99b11042,4.0,1.0,154.0,39.0,NaN,NaN,0.0,0.0,6.0,...,150.0,1.0,12.0,48.0,28.0,84.0,3.0,0.428571,1.0,6.0
252,afham-mohamed-ali-57190515,8.0,1.0,340.0,12.0,NaN,NaN,0.0,0.0,9.0,...,150.0,1.0,36.0,36.0,36.0,72.0,2.0,0.500000,0.0,0.0
253,aelesha-ismail-955499206,1.0,1.0,118.0,7.0,NaN,NaN,0.0,0.0,1.0,...,17.0,0.0,12.0,36.0,24.0,48.0,2.0,0.000000,1.0,4.0
254,abiram-gunarajah-301109127,2.0,1.0,68.0,7.0,4.0,36.0,1.0,1.0,1.0,...,NaN,0.0,36.0,36.0,36.0,36.0,1.0,0.000000,0.0,0.0

In [23]:
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split

In [24]:
seednumber = 10
shuffle_param = True
np.random.seed(seednumber)

X = df_final_all.drop(["job_change","job_change_horizon","profile_name"], axis=1)
y = df_final_all['job_change']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,shuffle=shuffle_param)

In [25]:
xg = XGBRegressor()
# le = LabelEncoder()
# y_train = le.fit_transform(y_train)
xg.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [26]:
xg.score(X_test, y_test)

-0.018513305871721508

In [27]:
Xn = df_final_all.drop(["job_change","job_change_horizon","profile_name"], axis=1)
yn = df_final_all['job_change_horizon']
Xn_train, Xn_test, yn_train, yn_test = train_test_split(Xn, yn, test_size=0.2,shuffle=shuffle_param)

In [28]:
xgn = XGBRegressor()
# le = LabelEncoder()
# y_train = le.fit_transform(y_train)
xgn.fit(Xn_train, yn_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [29]:
xgn.score(Xn_test, yn_test)

-0.2542914378373653

In [30]:
from sklearn.model_selection import GridSearchCV

In [31]:
model_params = {
'xgboost' : {
        'model':XGBRegressor(),
        'params': {
            'learning_rate':[0.01,0.03,0.035,0.04,0.05],
            'max_depth':[5,6,7,8,9],
            'random_state':[0,1],
            'gamma':[0.01,0.015,0.02,0.06,0.1],
            'colsample_bytree':[0.3,0.4,0.5,0.6]
        }
       } 
}

In [32]:
# grid_search_results = []

# for model_name, mp in model_params.items():
#     grid_search_reg =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
#     grid_search_reg.fit(X_train, y_train)
# #     grid_search_reg.fit(X, y)
#     grid_search_results.append({
#         'model': model_name,
#         'grid_search_best_score': grid_search_reg.best_score_,
#         'grid_search_best_params': grid_search_reg.best_params_
#     })

In [33]:
# grid_search_results

In [34]:
xgf = XGBRegressor(colsample_bytree= 0.3,
   gamma= 0.02,
   learning_rate= 0.01,
   max_depth= 6,
   random_state= 1)
# le = LabelEncoder()
# y_train = le.fit_transform(y_train)
xgf.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=0.3, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=0.02, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.01, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=6, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=1, ...)

In [35]:
xgf.score(X_test, y_test)

-0.026982012068297978

In [66]:
from xgboost import XGBClassifier
# read data
from sklearn.model_selection import train_test_split
# data = load_iris()
# X_train, X_test, y_train, y_test = train_test_split(data['data'], data['target'], test_size=.2)
# create model instance
bst = XGBClassifier(n_estimators=200, max_depth=2, learning_rate=0.1, objective='binary:logistic')
# fit model
bst.fit(X_train, y_train)
# make predictions
preds = bst.predict(X_test)
bst.score(X_test, y_test)

0.7450980392156863

In [54]:
preds

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0])

In [55]:
y_test.to_list()

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0]

In [64]:
bst.score(X_test, y_test)

0.7058823529411765

In [57]:
df_pred = pd.DataFrame()
df_pred["Pred"] = preds
df_pred["Y target"] = y_test.to_list()
df_pred

    Pred  Y target
0      0       0.0
1      0       0.0
2      0       0.0
3      0       0.0
4      0       0.0
5      0       0.0
6      0       0.0
7      0       0.0
8      0       0.0
9      0       1.0
10     0       0.0
11     0       0.0
12     0       1.0
13     0       0.0
14     0       1.0
15     0       0.0
16     0       0.0
17     0       1.0
18     0       0.0
19     0       1.0
20     0       0.0
21     0       1.0
22     0       0.0
23     0       1.0
24     0       0.0
25     0       0.0
26     0       0.0
27     0       0.0
28     0       0.0
29     0       0.0
30     0       0.0
31     0       1.0
32     0       0.0
33     0       0.0
34     0       0.0
35     0       0.0
36     0       1.0
37     0       1.0
38     0       0.0
39     0       1.0
40     0       1.0
41     0       0.0
42     0       0.0
43     0       0.0
44     0       0.0
45     0       0.0
46     0       0.0
47     0       0.0
48     0       0.0
49     0       0.0
50     0       1.0