In [127]:
import json
import glob
import pandas as pd
import openpyxl

# People list

In [128]:
# Creating the profile list to scrape
# Check and store the past scraped data to scraped_profiles set
scraped_profiles = set()

with open('data/clean_current_and_2023_mas.json', 'r') as scraped_file:
    scraped_data = json.load(scraped_file)
    for entry in scraped_data:
        scraped_profile = entry.get("profile")
        if scraped_profile:
            scraped_profiles.add(scraped_profile)

In [129]:
len(scraped_profiles)

325

In [130]:
# List to store unique organization profile links
new_profiles = set()

# Read the excel with the complete profile list
xlsx_file = 'data/lists/profile_list.xlsx'
# Open the XLSX file
workbook = openpyxl.load_workbook(xlsx_file)
# Assuming that the profiles are in the first sheet (you can adjust accordingly)
sheet = workbook['current_mas']
# sheet = workbook['2023_from_mas']

# Read the profiles from the sheet
for row in sheet.iter_rows(min_row=2, values_only=True):
    profile = row[0]  # Assuming the profiles are in the first column
#     new_profiles.add(profile)
    if profile:
        if profile not in scraped_profiles:
            new_profiles.add(profile)

# Create the profile_list to feed to spider by converting the new_profiles set
profile_list = list(new_profiles)
len(profile_list)

18

In [50]:
# # split profile_list if large, to feed to the scraper
# split_index = len(profile_list) // 2
# profile_list1 = profile_list[:split_index]
# profile_list2 = profile_list[split_index:]

In [137]:
profile_list

['rishan-sampath-034873122',
 'shirmili-madara-a946581a',
 'shenali-perera-26561a17b',
 'sanjeewa-jayasuriya-aa34b7b8',
 'shehan-de-silva-a710b21bb',
 'amalan-mahenthirarajah-bsc-eng-uom-mba-cardiff-met-b7a9045a',
 'chulantha-samarawickrama-564652166',
 'kosala-j-14325218a',
 'nadia-dawood-46746a47',
 'jamerasekera',
 'nishika-perera-88b249219',
 'shan-lakshitha-37319487',
 'rashani-wijesinghe-72584364',
 'pradeep-dissanayake-58912811a',
 'dhanushka-perera-587426234',
 'nadhir-majeed-90b243110',
 'dinuka-perera-862401117',
 'chandana-galappaththi-55920823']

In [132]:
people_df = pd.read_json('data/scraped_people_data/people_2023-12-12T08-39-49.json')
people_df

,profile,url,name,experience,education
0,rishan-sampath-034873122,https://www.linkedin.com/in/rishan-sampath-034...,Rishan Sampath,[],[]
1,shirmili-madara-a946581a,https://www.linkedin.com/in/shirmili-madara-a9...,shirmili madara,[],[{'organisation': 'Cardiff Metropolitan Univer...
2,shenali-perera-26561a17b,https://www.linkedin.com/in/shenali-perera-265...,Shenali Perera,"[{'position': 'Senior Executive', 'organisatio...",[]
3,sanjeewa-jayasuriya-aa34b7b8,https://www.linkedin.com/in/sanjeewa-jayasuriy...,Sanjeewa Jayasuriya,"[{'position': 'Assistant Manager', 'organisati...",[]
4,chulantha-samarawickrama-564652166,https://www.linkedin.com/in/chulantha-samarawi...,Chulantha Samarawickrama,"[{'position': 'Assistant Manager', 'organisati...",[]
5,kosala-j-14325218a,https://www.linkedin.com/in/kosala-j-14325218a/,Kosala J,"[{'position': 'Deputy General Manager', 'organ...",[]
6,jamerasekera,https://www.linkedin.com/in/jamerasekera/,Johann Amerasekera,[],[]
7,rashani-wijesinghe-72584364,https://www.linkedin.com/in/rashani-wijesinghe...,Rashani Wijesinghe,"[{'position': 'Professional Assistant', 'organ...",[]
8,nadhir-majeed-90b243110,https://www.linkedin.com/in/nadhir-majeed-90b2...,Nadhir Majeed,[],"[{'organisation': 'University of West London',..."
9,chandana-galappaththi-55920823,https://www.linkedin.com/in/chandana-galappath...,Chandana Galappaththi,"[{'position': 'Director Manufacturing', 'organ...",[]

In [133]:
missing_exp_count = 0
missing_exp_indexes = []

# Iterate through the DataFrame
for index, row in people_df.iterrows():
    experience = row['experience']
    
    # Check if the experience list is empty
    if not experience:
        missing_exp_count += 1
        missing_exp_indexes.append(index)
        continue  # Move to the next row
    
    for item in experience:
        if item['position'] == "" or (not 'organisation' in item or item['organisation'] == ""):
            missing_exp_count += 1
            missing_exp_indexes.append(index)
            break  # No need to check further for this row

# Print the count and indexes of rows with missing experience
print("Count of rows with missing experience:", missing_exp_count)
print("Indexes of rows with missing experience:", missing_exp_indexes)

Count of rows with missing experience: 4
Indexes of rows with missing experience: [0, 1, 6, 8]

In [134]:
missing_edu_count = 0
missing_edu_indexes = []

# Iterate through the DataFrame
for index, row in people_df.iterrows():
    education = row['education']
    
    # Check if the experience list is empty
    if not education:
        missing_edu_count += 1
        missing_edu_indexes.append(index)
        continue  # Move to the next row
        
    for item in education:
        if item['organisation']=="":
            missing_edu_count += 1
            missing_edu_indexes.append(index)
            break  # No need to check further for this row

# Print the count and indexes of rows with empty experience
print("Count of rows with empty education:", missing_edu_count)
print("Indexes of rows with empty education:", missing_edu_indexes)

Count of rows with empty education: 8
Indexes of rows with empty education: [0, 2, 3, 4, 5, 6, 7, 9]

In [135]:
# Create a list with profiles that has a missing value in either experience or education
# Convert the lists to sets to remove duplicates
set1 = set(missing_exp_indexes)
set2 = set(missing_edu_indexes)

# Merge the sets using the union operator (|)
missing_set = set1 | set2

# missing_set = set1

# Convert the result set back to a list (if needed)
missing_list = list(missing_set)

len(missing_list)

10

In [136]:
clean_profiles_df = people_df.drop(missing_list)
clean_profiles_df

Empty DataFrame
Columns: [profile, url, name, experience, education]
Index: []

In [68]:
clean_profiles_df.to_json('data/cleaned_profiles/clean_profiles_14.json', orient='records')

In [69]:
import json

def combine_json_files(file1_path, file2_path, output_file_path):
    # Read the contents of the first JSON file
    with open(file1_path, 'r') as file1:
        data1 = json.load(file1)

    # Read the contents of the second JSON file
    with open(file2_path, 'r') as file2:
        data2 = json.load(file2)

    # Combine the data from both files into a single list
    combined_data = data1 + data2

    # Write the combined data to a new JSON file
    with open(output_file_path, 'w') as output_file:
        json.dump(combined_data, output_file, indent=2)

# Specify the paths of your JSON files and the output file
file1_path = 'data/clean_current_and_2023_mas.json'
file2_path = 'data/cleaned_profiles/clean_profiles_14.json'
output_file_path = 'data/clean_current_and_2023_mas.json'

# Call the function to combine the JSON files
combine_json_files(file1_path, file2_path, output_file_path)

print("JSON files combined successfully.")

JSON files combined successfully.

In [126]:
clean_df = pd.read_json('data/clean_current_and_2023_mas.json')
clean_df

,profile,url,name,experience,education
0,sagara-lakmal-3b5634103,https://www.linkedin.com/in/sagara-lakmal-3b56...,Sagara Lakmal,[{'position': 'Manager - Data Analytics & Gove...,[{'organisation': 'University of Colombo Schoo...
1,ganguli-wijewardana,https://www.linkedin.com/in/ganguli-wijewardana/,Ganguli Wijewardhana,[{'position': 'Assistant Manager - Operations ...,[{'organisation': 'University of Kelaniya Sri ...
2,harsha-karunanayake-875636a8,None,Harsha Karunanayake,[{'position': 'Process Improvement Consultant'...,[{'organisation': 'University of Kelaniya Sri ...
3,yasith-mendis-002559198,https://www.linkedin.com/in/yasith-mendis-0025...,Yasith Mendis,"[{'position': 'Senior Executive - Planning', '...","[{'organisation': 'University of Colombo', 'or..."
4,nipuna-chanuka,https://www.linkedin.com/in/nipuna-chanuka/,Nipuna Chanuka,[{'position': 'Senior Executive Quality Assura...,[{'organisation': 'Wrexham Glyndŵr University'...
...,...,...,...,...,...
320,varuni-s-fernando-8037548,https://www.linkedin.com/in/varuni-s-fernando-...,Varuni S. Fernando,[{'position': 'Asst Manager Business Developme...,[{'organisation': 'Chartered Institute of Mark...
321,dilakshi-kihanduwage,https://www.linkedin.com/in/dilakshi-kihanduwage/,Dilakshi Kihanduwage,"[{'position': 'Finance Intern', 'organisation'...","[{'organisation': 'University of Northampton',..."
322,saman-priyashantha-32ba9a81,https://www.linkedin.com/in/saman-priyashantha...,Saman Priyashantha,"[{'position': 'Assistant Manager-Technical', '...","[{'organisation': 'Anglia Ruskin University', ..."
323,gihan-wijesuriya-767296251,https://www.linkedin.com/in/gihan-wijesuriya-7...,Gihan Wijesuriya,[{'position': 'Assistant Manager - Projects | ...,"[{'organisation': 'University of Warwick', 'or..."
324,randika-jasingha-172b81125,https://www.linkedin.com/in/randika-jasingha-1...,Randika Jasingha,"[{'position': 'Assistant Manager - Dye House',...",[{'organisation': 'University of Kelaniya Sri ...

# Comapny list

In [174]:
scraped_companies = set()

# Load the set of scraped companies from the file
with open('data/filtered_companies_combined.json', 'r') as json_file:
    json_data = json.load(json_file)
    for item in json_data:
        company_url = item.get("url")  # Get the "name" field
        if company_url:
            scraped_companies.add(company_url)  # Add the company name to the set
                       
print('Scraped: ', len(scraped_companies))
            
# List to store unique organization profile links
new_companies = set()

# Read the JSON data from the file line by line
with open('data/clean_current_and_2023_mas.json', 'r') as json_file:
    json_data = json.load(json_file)
    for line_number, profile_data in enumerate(json_data, start=1):
        try:
            # Extract the "experience" section from the JSON data
            experiences = profile_data.get("experience", [])

            # Iterate through each experience entry and extract the "organisation_profile" if it exists
            for experience in experiences:
                organization_profile = experience.get("organisation_profile")
                if organization_profile:
                    # Check if the company profile has not been scraped already
                    if organization_profile not in scraped_companies:
                        new_companies.add(organization_profile)

        except json.JSONDecodeError as e:
            print(f"Error in line {line_number}: {e}")
            print(f"Problematic line: {profile_data}")


# Convert the set to a list if needed
company_pages = list(new_companies)
print('New: ', len(company_pages))

Scraped:  84
New:  228

In [175]:
# split profile_list if large, to feed to the scraper
split_index = len(company_pages) // 2
company_pages1 = company_pages[:split_index]
company_pages2 = company_pages[split_index:]

In [160]:
company_pages1

['https://lk.linkedin.com/company/aitken-spence',
 'https://www.linkedin.com/company/orange-electrics',
 'https://lk.linkedin.com/company/ranvellanka',
 'https://www.linkedin.com/company/kantarlmrb',
 'https://www.linkedin.com/company/legacy-healthcare-llc',
 'https://lk.linkedin.com/company/micro-cars-limited',
 'https://uk.linkedin.com/company/lifeatnext',
 'https://lk.linkedin.com/company/lsegtechnology',
 'https://www.linkedin.com/company/cinnamon-grand-colombo',
 'https://lk.linkedin.com/company/cpcsl',
 'https://lk.linkedin.com/company/thepapareofficial',
 'https://www.linkedin.com/company/inqube-global',
 'https://lk.linkedin.com/company/hellmann-mas-supply-chain-pvt-ltd',
 'https://sg.linkedin.com/company/tseyva-pte-ltd.',
 'https://hk.linkedin.com/company/cathay-pacific',
 'https://fr.linkedin.com/company/cma-cgm',
 'https://lk.linkedin.com/company/bank-of-ceylon',
 'https://ch.linkedin.com/company/adecco',
 'https://au.linkedin.com/company/99designs',
 'https://ca.linkedin.com/company/camso',
 'https://id.linkedin.com/school/universitas-islam-sultan-agung-semarang/',
 'https://lk.linkedin.com/company/asha-phillip-securities-ltd',
 'https://www.linkedin.com/company/unicef',
 'https://lk.linkedin.com/company/naturub-group-of-companies',
 'https://lk.linkedin.com/company/cloudsolutionlk',
 'https://lk.linkedin.com/school/esoftmetrocampus/',
 'https://lk.linkedin.com/company/brandix',
 'https://au.linkedin.com/company/recoveriescorp',
 'https://jo.linkedin.com/company/mas-kreeda-al-safi',
 'https://in.linkedin.com/company/seeds-intimate-apparel-india-pvt-ltd',
 'https://lk.linkedin.com/company/epic-lanka-group',
 'https://lk.linkedin.com/company/dfcc-bank',
 'https://lk.linkedin.com/school/university-of-sri-jayewardenepura/',
 'https://nz.linkedin.com/company/fonterra',
 'https://lk.linkedin.com/company/walkers-tours',
 'https://lk.linkedin.com/school/university-of-jaffna/',
 'https://lk.linkedin.com/company/mtv-mbc-channels-pvt-ltd',
 'https://uk.linkedin.com/company/british-council',
 'https://lk.linkedin.com/company/amerck',
 'https://lk.linkedin.com/company/lakpura',
 'https://lk.linkedin.com/company/nestle-lanka',
 'https://www.linkedin.com/company/rr-donnelley',
 'https://jp.linkedin.com/company/pacific-consultants-international-group-k-k-',
 'https://www.linkedin.com/company/peoples-bank-sri-lanka',
 'https://www.linkedin.com/company/wiasystemsinc',
 'https://lk.linkedin.com/company/mobitel-pvt-ltd',
 'https://lk.linkedin.com/company/bogawantalawa-tea',
 'https://lk.linkedin.com/company/hayleys-fabric-plc',
 'https://www.linkedin.com/company/ceylon-electricity-board',
 'https://lk.linkedin.com/company/vavuniya-campus-of-the-university-of-jaffna',
 'https://www.linkedin.com/company/nike',
 'https://sg.linkedin.com/company/singapore-airlines',
 'https://bd.linkedin.com/company/sq-group',
 'https://www.linkedin.com/company/healthy-greens-sri-lanka',
 'https://lk.linkedin.com/company/textured-jersey-lanka-pvt-ltd',
 'https://www.linkedin.com/company/dun-&-bradstreet',
 'https://www.linkedin.com/company/emeraldinternational',
 'https://lk.linkedin.com/company/sunshine-holdings-plc',
 'https://lk.linkedin.com/company/unionapparel',
 'https://lk.linkedin.com/company/sri-lanka-institute-of-marketing',
 'https://au.linkedin.com/company/sanmik-food',
 'https://ca.linkedin.com/company/midassafetyofficial',
 'https://bd.linkedin.com/company/ndb-capital-limted',
 'https://lk.linkedin.com/company/mas-kreeda',
 'https://hk.linkedin.com/company/smart-shirts-limited',
 'https://uk.linkedin.com/company/travel-center-uk',
 'https://lk.linkedin.com/company/hrm-family',
 'https://lk.linkedin.com/company/mas-intimates',
 'https://lk.linkedin.com/company/saaraketha-pvt-limited',
 'https://bd.linkedin.com/company/nassa-group',
 'https://lk.linkedin.com/company/mas-silueta',
 'https://lk.linkedin.com/company/rockland-distilleries-pvt-ltd',
 'https://lk.linkedin.com/company/ikigairtw-srilanka',
 'https://lk.linkedin.com/company/sumithragroup',
 'https://lk.linkedin.com/company/ub-finance-plc',
 'https://lk.linkedin.com/company/jaykay-marketing-services-pvt-limited',
 'https://lk.linkedin.com/company/aieseclk',
 'https://hk.linkedin.com/company/aia',
 'https://www.linkedin.com/company/aiesecinkandy',
 'https://lk.linkedin.com/company/super-serv',
 'https://lk.linkedin.com/company/john-keells-holdings',
 'https://il.linkedin.com/company/citrus-events',
 'https://de.linkedin.com/company/courtaulds-clothing-lanka',
 'https://au.linkedin.com/company/wearearkco',
 'https://hk.linkedin.com/company/next-sourcing-limited',
 'https://bh.linkedin.com/company/mti-consulting',
 'https://lk.linkedin.com/company/samson-engineers-pvt-ltd',
 'https://www.linkedin.com/company/orient-garments-private-limited',
 'https://nl.linkedin.com/company/solidaridad-network',
 'https://www.linkedin.com/company/avery-dennison',
 'https://lk.linkedin.com/company/amant%C3%A9',
 'https://lk.linkedin.com/company/seylanbankplc',
 'https://uk.linkedin.com/company/british-american-tobacco',
 'https://uk.linkedin.com/company/gsk',
 'https://lk.linkedin.com/company/diesel-&-motor-engineering-plc',
 'https://www.linkedin.com/company/moodysanalytics',
 'https://uk.linkedin.com/company/acuity-knowledge-partners',
 'https://lk.linkedin.com/company/mas-holdings',
 'https://lk.linkedin.com/company/dialog-axiata-plc',
 'https://lk.linkedin.com/company/star-komar-srilanka',
 'https://www.linkedin.com/company/bci-campus',
 'https://uk.linkedin.com/company/debenhams',
 'https://www.linkedin.com/company/hands-international-pvt-ltd',
 'https://lk.linkedin.com/company/asian-alliance-plc-',
 'https://lk.linkedin.com/company/michelin-lanka-pvt-limited',
 'https://lk.linkedin.com/company/infomateworld-infomate-pvt-ltd---jkh-',
 'https://in.linkedin.com/company/mp-shantex-clothing',
 'https://be.linkedin.com/company/mas-fabrics-matrix',
 'https://lk.linkedin.com/company/myfees',
 'https://www.linkedin.com/company/3m',
 'https://lk.linkedin.com/company/peoples-bank-sri-lanka',
 'https://www.linkedin.com/company/watawala-plantations',
 'https://lk.linkedin.com/school/sliit/',
 'https://www.linkedin.com/company/delltechnologies',
 'https://fi.linkedin.com/company/mas-holdings',
 'https://eg.linkedin.com/company/brandix']

In [168]:
company_df = pd.read_json('data/scraped_companies_data/companies_2023-12-12T10-00-04.json')
company_df

,name,url,industry,size,headquaters,type,founded
0,Aitken Spence,https://lk.linkedin.com/company/aitken-spence,Consumer Services,"10,001+ employees","Colombo 02, Colombo",Public Company,1868
1,Orange Electrics,https://www.linkedin.com/company/orange-electrics,"Appliances, Electrical, and Electronics Manufa...","1,001-5,000 employees",,Privately Held,1978
2,Ranvel Lanka Holdings (Pvt) Ltd,https://lk.linkedin.com/company/ranvellanka,,11-50 employees,"Panadura, Western",Self-Owned,
3,,https://www.linkedin.com/company/kantarlmrb,,,,,

In [172]:
def combine_json_files(file1_path, file2_path, output_file_path):
    # Read the contents of the first JSON file
    with open(file1_path, 'r') as file1:
        data1 = json.load(file1)

    # Read the contents of the second JSON file
    with open(file2_path, 'r') as file2:
        data2 = json.load(file2)

    # Extract unique data from the second file based on the "name" attribute
    new_data = [item for item in data2 if item["name"] not in [d["name"] for d in data1]]

    # Combine the unique data with the existing data from the first file
    combined_data = data1 + new_data

    # Write the combined data to a new JSON file
    with open(output_file_path, 'w') as output_file:
        json.dump(combined_data, output_file, indent=2)

# Specify the paths of your JSON files and the output file
file1_path = 'data/filtered_companies_combined.json'
file2_path = 'data/scraped_companies_data/companies_2023-12-12T10-00-04.json'
output_file_path = 'data/filtered_companies_combined.json'

# Call the function to combine the JSON files
combine_json_files(file1_path, file2_path, output_file_path)

print("JSON files combined successfully.")

JSON files combined successfully.

In [173]:
company_df = pd.read_json('data/filtered_companies_combined.json')
company_df

,name,url,industry,size,headquaters,type,founded
0,Marks and Spencer,https://www.linkedin.com/company/marks-and-spe...,Retail,"10,001+ employees","London, London",Public Company,1884
1,Virtusa,https://www.linkedin.com/company/virtusa,IT Services and IT Consulting,"10,001+ employees","Southborough, MA",Privately Held,1996
2,KPMG US,https://www.linkedin.com/company/kpmg-us,Financial Services,"10,001+ employees","New York, NY",Partnership,
3,Parexel,https://www.linkedin.com/company/parexel,Pharmaceutical Manufacturing,"10,001+ employees","Durham, North Carolina",Privately Held,
4,"attune, a Rizing Company",https://www.linkedin.com/company/attune-rizing...,IT Services and IT Consulting,"501-1,000 employees","Burlington, MA",Privately Held,
...,...,...,...,...,...,...,...
79,Lucky Industries SriLanka,https://lk.linkedin.com/company/lucky-industri...,Apparel & Fashion,"1,001-5,000 employees","Colombo 04, Colombo",Privately Held,1960
80,Aitken Spence,https://lk.linkedin.com/company/aitken-spence,Consumer Services,"10,001+ employees","Colombo 02, Colombo",Public Company,1868
81,Orange Electrics,https://www.linkedin.com/company/orange-electrics,"Appliances, Electrical, and Electronics Manufa...","1,001-5,000 employees",,Privately Held,1978
82,Ranvel Lanka Holdings (Pvt) Ltd,https://lk.linkedin.com/company/ranvellanka,,11-50 employees,"Panadura, Western",Self-Owned,
83,,https://www.linkedin.com/company/kantarlmrb,,,,,

# Institutes list

In [155]:
scraped_institutes = set()

# Load the set of scraped companies from the file
with open('data/filtered_institutes_combined.json', 'r') as scraped_file:
    scraped_data = json.load(scraped_file)
    for entry in scraped_data:
        company_url = entry.get("url")  # Get the "name" field
        if company_url:
            scraped_institutes.add(company_url)  # Add the company name to the set                      
            
print('Scraped: ', len(scraped_institutes))
            
# List to store unique organization profile links
new_institutes = set()

# Read the JSON data from the file line by line
with open('data/clean_current_and_2023_mas.json', 'r') as json_file:
    json_data = json.load(json_file)
    for line_number, profile_data in enumerate(json_data, start=1):
        try:
            # Extract the "experience" section from the JSON data
            educations = profile_data.get("education", [])

            # Iterate through each experience entry and extract the "organisation_profile" if it exists
            for education in educations:
                organization_profile = education.get("organisation_profile")
                if organization_profile:
                    # Check if the company profile has not been scraped already
                    if organization_profile not in scraped_institutes:
                        new_institutes.add(organization_profile)

        except json.JSONDecodeError as e:
            print(f"Error in line {line_number}: {e}")
            print(f"Problematic line: {profile_data}")


# Convert the set to a list if needed
institutes_pages = list(new_institutes)
print('New: ', len(institutes_pages))

Scraped:  41
New:  196

In [161]:
# split profile_list if large, to feed to the scraper
split_index = len(institutes_pages) // 2
institutes_pages1 = institutes_pages[:split_index]
institutes_pages2 = institutes_pages[split_index:]

In [162]:
institutes_pages1

['https://www.linkedin.com/school/buckinghamshirenewuniversity/',
 'https://lk.linkedin.com/school/st-bridgets-convent-colombo/',
 'https://lk.linkedin.com/school/icmasrilanka/',
 'https://uk.linkedin.com/school/cima/',
 'https://uk.linkedin.com/school/university-college-london/',
 'https://uk.linkedin.com/school/acca/',
 'https://es.linkedin.com/school/universidad-catolica-san-antonio-de-murcia/',
 'https://www.linkedin.com/school/college-of-chemical-sciences-institute-of-chemistry-ceylon/',
 'https://www.linkedin.com/school/university-of-virginia-darden-school-of-business/',
 'https://lk.linkedin.com/school/cpmsrilanka/',
 'https://lk.linkedin.com/school/trinity-college-kandy/',
 'https://www.linkedin.com/school/%D1%81%D0%B0%D0%BD%D0%BA%D1%82-%D0%BF%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3%D1%81%D0%BA%D0%B8%D0%B9-%D0%BF%D0%BE%D0%BB%D0%B8%D1%82%D0%B5%D1%85%D0%BD%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9-%D1%83%D0%BD%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0%B5%D1%82-%D0%BF%D0%B5/',
 'https://www.linkedin.com/school/rmit-university/',
 'https://uk.linkedin.com/school/uwtsd/',
 'https://uk.linkedin.com/school/university-of-london/',
 'https://lk.linkedin.com/school/pim-srilanka/',
 'https://lk.linkedin.com/school/maris-stella-college-negombo/',
 'https://lk.linkedin.com/school/maliyadevacollege/',
 'https://uk.linkedin.com/school/pearson-college-london/',
 'https://uk.linkedin.com/school/plymouth-university/',
 'https://lk.linkedin.com/school/slimhome/',
 'https://at.linkedin.com/school/cma-australia/',
 'https://cn.linkedin.com/school/%E5%A4%A7%E8%BF%9E%E5%A4%A7%E5%AD%A6/',
 'https://lk.linkedin.com/school/esoftmetrocampus/',
 'https://lk.linkedin.com/school/stjosephscollegelk/',
 'https://lk.linkedin.com/school/slitad-professional-training-and-consultancy/',
 'https://lk.linkedin.com/school/st-aloysius-college-galle/',
 'https://bd.linkedin.com/school/international-islamic-university-chittagong/',
 'https://www.linkedin.com/school/st-aloysius-college-galle/',
 'https://lk.linkedin.com/school/university-of-sri-jayewardenepura/',
 'https://www.linkedin.com/school/university-of-manchester/',
 'https://lk.linkedin.com/school/university-of-kelaniya-sri-lanka/',
 'https://lk.linkedin.com/school/national-institute-of-business-management-nibm---sri-lanka-/',
 'https://www.linkedin.com/school/apumalaysia/',
 'https://lk.linkedin.com/school/rahulacollege/',
 'https://uk.linkedin.com/school/manchester-metropolitan-university/',
 'https://lk.linkedin.com/school/university-of-jaffna/',
 'https://fi.linkedin.com/school/university-of-westminster/',
 'https://www.linkedin.com/school/mit/',
 'https://eg.linkedin.com/school/rahulacollege/',
 'https://uk.linkedin.com/school/kingston-university/',
 'https://lk.linkedin.com/school/leansixsigmaasia/',
 'https://uk.linkedin.com/school/university-of-greenwich/',
 'https://www.linkedin.com/school/university-of-wolverhampton/',
 'https://uk.linkedin.com/school/ljmu/',
 'https://www.linkedin.com/school/university-of-virginia/',
 'https://lk.linkedin.com/school/sabaragamuwa-university/',
 'https://www.linkedin.com/school/pearson-college-london/',
 'https://fi.linkedin.com/school/university-of-bedfordshire/',
 'https://www.linkedin.com/school/ucsc-lk/',
 'https://uk.linkedin.com/school/university-of-wolverhampton/',
 'https://lk.linkedin.com/school/anandacollege/',
 'https://au.linkedin.com/school/cpaaustralia/',
 'https://lk.linkedin.com/school/uva-wellassa-university-of-sri-lanka/',
 'https://au.linkedin.com/school/center-for-project-innovation/',
 'https://uk.linkedin.com/school/university-of-west-london/',
 'https://at.linkedin.com/school/asia-e-university/',
 'https://de.linkedin.com/school/the-open-university-of-sri-lanka/',
 'https://in.linkedin.com/school/nibmglobal.com/',
 'https://ie.linkedin.com/school/university-college-dublin/',
 'https://www.linkedin.com/school/staffordshire-university/',
 'https://lk.linkedin.com/school/institute-of-chartered-accountants-of-sri-lanka/',
 'https://uk.linkedin.com/school/northumbriauniversity/',
 'https://www.linkedin.com/school/mahanamacollegecolombo/',
 'https://au.linkedin.com/school/swinburne-university-of-technology/',
 'https://www.linkedin.com/school/cardiff-metropolitan-university/',
 'https://au.linkedin.com/school/edithcowanuniversity/',
 'https://www.linkedin.com/school/dharmarajacollegekandy/',
 'https://www.linkedin.com/school/the-open-university-of-sri-lanka/',
 'https://uk.linkedin.com/school/university-of-bedfordshire/',
 'https://uk.linkedin.com/school/university-of-suffolk/',
 'https://www.linkedin.com/school/national-institute-of-business-management-nibm---sri-lanka-/',
 'https://uk.linkedin.com/school/university-of-east-london/',
 'https://sg.linkedin.com/school/national-university-of-singapore/',
 'https://uk.linkedin.com/school/robertgordonuniversity/',
 'https://www.linkedin.com/school/uwtsd/',
 'https://lk.linkedin.com/school/visakha-vidyalaya-colombo/',
 'https://lk.linkedin.com/school/general-sir-john-kotelawala-defence-university/',
 'https://uk.linkedin.com/school/uniofwarwick/',
 "https://lk.linkedin.com/school/st.peter'scollegecolombo/",
 'https://in.linkedin.com/school/delhi-university/',
 'https://lk.linkedin.com/school/aquinascollegesl/',
 'https://lk.linkedin.com/school/royal-college-sri-lanka/',
 'https://lk.linkedin.com/school/isipathana-college-colombo-05/',
 'https://my.linkedin.com/school/asia-e-university/',
 'https://uk.linkedin.com/school/university-of-sunderland/',
 'https://lk.linkedin.com/school/dharmarajacollegekandy/',
 'https://at.linkedin.com/school/ucanwest/',
 'https://www.linkedin.com/school/university-of-sri-jayewardenepura/',
 'https://in.linkedin.com/school/mahatma-gandhi-university/',
 'https://uk.linkedin.com/school/university-of-leicester/',
 'https://www.linkedin.com/school/london-metropolitan-university/',
 'https://www.linkedin.com/school/pim-srilanka/',
 'https://be.linkedin.com/school/cima/',
 'https://lk.linkedin.com/school/sliit/',
 'https://www.linkedin.com/school/cima/',
 'https://www.linkedin.com/school/onlinehbs/',
 'https://www.linkedin.com/school/national-university-of-singapore/']

In [ ]:
institute_df = pd.read_json('data/scraped_institutes_data/.json')
institute_df

In [ ]:
def combine_json_files(file1_path, file2_path, output_file_path):
    # Read the contents of the first JSON file
    with open(file1_path, 'r') as file1:
        data1 = json.load(file1)

    # Read the contents of the second JSON file
    with open(file2_path, 'r') as file2:
        data2 = json.load(file2)

    # Extract unique data from the second file based on the "name" attribute
    new_data = [item for item in data2 if item["name"] not in [d["name"] for d in data1]]

    # Combine the unique data with the existing data from the first file
    combined_data = data1 + new_data

    # Write the combined data to a new JSON file
    with open(output_file_path, 'w') as output_file:
        json.dump(combined_data, output_file, indent=2)

# Specify the paths of your JSON files and the output file
file1_path = 'data/filtered_institutes_combined.json'
file2_path = 'data/scraped_institutes_data/.json'
output_file_path = 'data/filtered_institutes_combined.json'

# Call the function to combine the JSON files
combine_json_files(file1_path, file2_path, output_file_path)

print("JSON files combined successfully.")